# Disk cache
build --disk_cache=bazel-cache

build --verbose_failures
build --define=android_incremental_dexing_tool=d8_dexbuilder
build --nouse_workers_with_dexbuilder
build --incompatible_disable_depset_items
build --strategy=Desugar=sandboxed

# Databinding flags
build --experimental_android_databinding_v2
build --android_databinding_use_v3_4_args
build --android_databinding_use_androidx

# Flags to enable latest android providers in rules
build --experimental_google_legacy_api
query --experimental_google_legacy_api

test --test_output=errors # Print test logs for failed tests
test --build_tests_only

run --ui_event_filters=-info,-stdout --noshow_progress

try-import local.bazelrc